/* # Map
---------------------------------------------------------------------------------------------------- */

#mapHolder {
  overflow: hidden;
  height: 75vh;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  &.hasPerspective {
    transform: rotateZ(-10deg) rotateY(30deg) rotateX(50deg) !important;
    position: absolute !important;
    min-height: 100%;
    min-width: 100%;
    top: -120%;
    bottom: -120%;
    left: -50%;
    right: -50%;
    height: auto;
    width: auto;
    perspective: 100000px;
  }
  &.flat {
    position: absolute !important;
    bottom: -25px;
    height: auto;
    top: -25px;
  }
}

/* # Clouds
---------------------------------------------------------------------------------------------------- */

.cloud {
  position: absolute;
  //transition: all 5s ease;
  // transform: translate(-800px, 200px); // Without tilted cloud, translateXY 4:1
  &.realistic {
    transform: rotateZ(-10deg) rotateY(30deg) rotateX(50deg) translateX(500px); // With tilted cloud, only translateX
  }
  &.one {
    width: 200px;
  }
  &.two {
    width: 200px;
  }
  &.three {
    width: 200px;
  }
}
